.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
/* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards > ul > li {
  /* border: 1px solid var(--highlight-background-color); */
  background-color: var(--background-color);
  width: 260px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body p{
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards .cards-card-body .button-container a {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;  
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-color2);
  font-size: 18px;
 

}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
